body{
  background-color: black !important;
}

@font-face {
  font-family: PoppinsBold;
  src: url(./font/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(./font/Poppins-Light.ttf);
}

.form-group input:focus{
  outline:0px !important; 
  box-shadow: none !important;
}

.topbar{
  background: rgba(0, 0, 0, 0.527);
}

.topbar a{
  color: white;
}

.header{
  padding: 16rem 20rem;
  background-image: url('https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: left;
}

.header h1{
  font-family: PoppinsBold !important;
  text-shadow: 2px white;
  font-size: 3rem
}

.header p{
  font-family: PoppinsLight;
  font-size: 20px;
}

.items{
  background: black !important;
  color: white !important;
}

.searchbox{
  border-radius: 33px 0px 0px 33px !important;
  padding: 16px 43px !important;
  text-align: center !important;
  background-color: white;
}

.searchbox:focus{
  outline: none !important;
}

.header .searchbtn {
  border-radius: 0px 33px 33px 0 !important;
  background-color: red;
  border: 1px solid red;
}

.caption{
  border-radius: 30px 30px 30px 30px !important;
  background: white !important;
  border: 0 !important;
  color: grey !important;
  font-size: 13px !important;
  margin: 20px 10px !important;
}


